@model Common.MemberProfile

@{
    ViewBag.Title = "EditMember";
    Layout = "~/Areas/Manage/Views/Shared/_LayoutAdmincshtml.cshtml";
}

<h2>Cập nhật thông tin Member</h2><br/>
@using (Html.BeginForm("EditMember", "Members", FormMethod.Post, new { enctype = "multipart/form-data", id = "EditMember" }))
{
    @*@Html.AntiForgeryToken()*@
    <h1 style="text-align:center; color:blue">Cập nhật thông tin Member</h1>
    if(ViewData["Message"] != null){
        <p class="success-msg">@ViewData["Message"]</p>
    }
    <div class="fieldset">
        <h2 class="legend" style="font-family:Arial;font-style:inherit">Thông tin cá nhân</h2>
        <ul class="form-list">
            <li class="">
                <div class="customer-name-middlename">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="field name-firstname">
                                <label for="firstname" class="required">Tên (VD: Nam)</label>
                                <div class="input-box">
                                    @Html.TextBoxFor(model => model.FirstName, new { @class = "input-text required-entry", @maxlength = "255", @style = "width: 100%", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.FirstName)

                                </div>
                            </div>
                            <div class="field name-firstname">
                                <label for="firstname" class="required">Họ  (VD: Nguyễn Hữu)</label>
                                <div class="input-box">
                                    @Html.TextBoxFor(model => model.LastName, new { @class = "input-text required-entry", @maxlength = "255", @style = "width: 100%", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.LastName)
                                </div>
                            </div>
                            <div class="field name-firstname">
                                <label for="firstname" class="required">Số điện thoại</label>
                                <div class="input-box">
                                    @Html.TextBoxFor(model => model.Phone, new { @class = "input-text required-entry", @maxlength = "255", @style = "width: 100%", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.Phone)

                                </div>
                            </div>

                            <div class="field name-firstname">
                                <label for="firstname" class="required">Ngày sinh</label>
                                <div class="input-box">
                                    @*//      @Html.TextBoxFor(model => model.MemberProfile.Dob, new { @id = "datepicker1", @class = "datepicker-input hasDatepicker", @style = "width: 100%", @required = "required" })*@
                                    @{
                                         DateTime date = new DateTime();
                                         if (Model.Dob != null)
                                         {
                                            date = (DateTime)Model.Dob;
                                         }
                                    }
                                    @if (Model.Dob != null)
                                    {
                                        <input type="text" placeholder="Từ ngày" id="datepicker1" class="datepicker-input input-text required-entry" name="datepicker1" value="@date.ToString("dd/MM/yyyy")" style="margin-right: 10px" />
                                    }
                                    else
                                    {
                                        <input type="text" placeholder="Từ ngày" id="datepicker1" class="datepicker-input input-text required-entry" name="datepicker1" value="" style="margin-right: 10px" />
                                    }

                                </div>
                            </div>
                            <div class="field name-firstname">
                                <label for="firstname" class="required">Giới tính</label>
                                <div class="input-box">
                                    @if (Model.Sex == 1)
                                    {
                                        <label class="radio-inline">
                                            <input type="radio" name="gender" value="1" checked="checked"> Nam
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="gender" value="0"> Nữ
                                        </label>
                                    }
                                    else
                                    {
                                        <label class="radio-inline">
                                            <input type="radio" name="gender" value="1"> Nam
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="gender" value="0" checked="checked"> Nữ
                                        </label>
                                    }
                                </div>
                            </div>

                            <div class="field name-firstname">
                                <label for="firstname" class="required">Tỉnh thành</label>
                                <div class="input-box">
                                    @Html.DropDownList("Location", null, new { @width = "100%", @class = "input", @onchange = "LoadChild(1)" })
                                    <input type="hidden" id="receiverAddress" />

                                </div>
                            </div>
                            <div class="field name-firstname">
                                <label for="firstname" class="required">Quận huyện: </label>
                                <div class="input-box">
                                    <select id="receiverTown" class="input" name="receiverTown" onchange="LoadChild(2)">
                                        <option value="-1">--Chọn--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="field name-firstname">
                                <label for="firstname" class="required">Phường xã: </label>
                                <div class="input-box">
                                    <select class="input" id="receiverPhuong" name="receiverPhuong">
                                        <option value="-1">--Chọn--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="field name-firstname">
                                <label for="firstname" class="required">Địa chỉ chi tiết:  </label>
                                <div class="input-box">
                                    @Html.TextBoxFor(model => model.Address, new { @class = "input-text required-entry", @maxlength = "500", @style = "width: 100%", @required = "required", @placeholder = "Ví dụ: số 10, Ngõ 50, Ngách 100, Hẻm 22, Đường Nguyễn A" })
                                    @Html.ValidationMessageFor(model => model.Address)
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6">

                            <div class="field name-firstname">
                                <label for="lastname" class="required">Ảnh đại diện</label>
                                <div class="input-box">
                                    <input type="file" name="avatarMember" class="bottom" />
                                </div>
                            </div>
                            <div class="field name-lastname">
                                <div class="input-box">
                                    <img src="@BuyGroup365.Models.Member.FuntionMember.GetUrlImage(Model.Photo,"Medium")" style="width:100%" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="buttons-set">
                        <button type="submit" title="Submit" class="button"><span><span>Submit</span></span></button>
                    </div>
                </div>
            </li>

        </ul>
    </div>
}
<script>
    function LoadChild(level) {
        var int = parseInt(level);
        var parent = 0;
        if (int == 1) {
            parent = $("#Location").val();
            var text = $("#Location option:selected").text();

            // alert(a);
            $('#receiverAddress').html("");
            $('#receiverAddress').val(text);
        } else {
            parent = $("#receiverTown").val();
        }

        $.ajax({
            url: '@Url.Action("GetLocationByParent", "Json")',
            data: {
                'parentId': parent
            },
            Type: 'POST',
            dataType: 'json',
            success: function (data) {

                if (int == 1) {
                    $('#receiverTown').html("");
                    $('#receiverTown').append(data);
                } else {
                    $('#receiverPhuong').html("");
                    $('#receiverPhuong').append(data);

                }
            },
            error: function () {

            }
        });
    }

    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("LoadLocation","Member")',
            data:
            {
                'type':'mb'
            },
            Type: 'POST',
            dataType: 'json',
            success: function(data) {
                $('#receiverPhuong').html("");
                $('#receiverPhuong').append(data.ListItems1);
                $('#receiverTown').html("");
                $('#receiverTown').append(data.ListItems2);
                $('#Location').html("");
                $('#Location').append(data.ListItems3);
            },
            error: function() {

            }
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $("#datepicker1").datepicker({ dateFormat: 'dd/mm/yy' });
    });
</script>

