@using MvcPaging
@model IPagedList<Common.Role>

@{
    ViewBag.Title = "Quản lý roles";
}
@{   Layout = "~/Areas/Manage/Views/Shared/_LayoutUser.cshtml";}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="">
        @Html.Raw(BuyGroup365.Areas.Manage.Models.AdminFunction.BindHeader("Danh sách Role", null, null, null, null))
    </div>
    <!-- /.row -->
    <!-- /.row -->
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    @using (Ajax.BeginForm("Index", "User",
                            new AjaxOptions { UpdateTargetId = "grid-list", HttpMethod = "get", LoadingElementId = "loading", OnBegin = "beginPaging", OnSuccess = "successPaging", OnFailure = "failurePaging" },
                            new { id = "frm-search" }))
                    {
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group input-group">
                                    <input type="text" value="@ViewData["key"]" class="form-control" id="appendedInputButton" name="key" placeholder="Nhập từ khóa tìm kiếm" style="width:80%">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <span style="float: right ;margin-right: 20px;font-size: 20px">
                                    @Html.ActionLink(" ", "CreateRole", null, new { @class = "glyphicon glyphicon-plus-sign" })
                                </span>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped" id="dataTables" aria-describedby="dataTables-example_info">
                                <thead>
                                    <tr role="row">
                                        <th>
                                            Tên role
                                        </th>
                                        <th>
                                            Mô tả
                                        </th>
                                        <th>
                                            Trạng thái
                                        </th>
                                        <th>
                                            Ngày tạo
                                        </th>
                                        <th>
                                            Ngày cập nhật
                                        </th>
                                        <th style="width: auto"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </td>
                                            <td>
                                                @(item.Status == 1 ? "Activated" : "Lock")
                                            </td>
                                            <td>
                                                @item.Createdate.ToString("dd/MM/yyyy HH:mm:ss")
                                            </td>
                                            <td>
                                                @item.Modifieddate.ToString("dd/MM/yyyy HH:mm:ss")
                                            </td>
                                            <td>
                                                @Html.ActionLink("Decentralize", "ManageModulesForRole", new { id = item.Id }, new { @class = "glyphicon glyphicon-lock" }) |
                                                @Html.ActionLink("Edit", "EditRole", new { id = item.Id }, new { @class = "glyphicon glyphicon-pencil" })
                                                @* |  @Html.ActionLink("Xóa", "Delete", new { id = item.id }, new { onclick = "return confirm('Bạn có chắc chắn muốn xóa mục này?');" })
                                                *@
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            <div class="row">
                                <div class="">
                                    <div class="dataTables_info" id="dataTables-example_info" role="alert" aria-live="polite" aria-relevant="all">Hiển thị từ @Model.ItemStart đến @Model.ItemEnd của @Model.TotalItemCount bản ghi</div>
                                </div>
                                <div class="">
                                    <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">

                                        @Html.Raw(Ajax.Pager(
                                            new Options
                                            {
                                                PageSize = Model.PageSize,
                                                TotalItemCount = Model.TotalItemCount,
                                                CurrentPage = Model.PageNumber,
                                                ItemTexts = new ItemTexts() { Next = "Next", Previous = "Previous", Page = "P" },
                                                ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward" },
                                                TooltipTitles = new TooltipTitles() { Next = "Next page", Previous = "Previous page", Page = "Page {0}." },
                                                Size = Size.normal,
                                                Alignment = Alignment.centered,
                                                IsShowControls = true,
                                                IsShowFirstLast = true,
                                                CssClass = ""
                                            },
                                            new AjaxOptions
                                            {
                                                UpdateTargetId = "grid-list",
                                                HttpMethod = "get",
                                                LoadingElementId = "loading",
                                                OnBegin = "beginPaging",
                                                OnSuccess = "successPaging",
                                                OnFailure = "failurePaging"
                                            }, new { controller = "User", action = "Index", key = ViewData["key"] }))
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- /.row -->
</div>

<script type="text/javascript">

    function beginPaging(args) {
        // Animatek
        $('#grid-list').fadeOut('normal');
    }

    function successPaging() {
        // Animate
        $('#grid-list').fadeIn('normal');
        $('a').tooltip();
    }

    function failurePaging() {
        alert("Could not retrieve list.");
    }
</script>