@model Common.User

@{
    ViewBag.Title = "Cập nhật user";
}
@{   Layout = "~/Areas/Manage/Views/Shared/_LayoutUser.cshtml";}

<h1 class="page-header">Cập nhật user</h1>
<div class="simplebox grid740">
    <div class="titleh">
        <h3>Cập nhật user</h3>
    </div>
    <div class="body">

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <div class="st-form-line">
                <div class="bg-error-infocus">
                    @ViewData["ErrMessage"]
                </div>

                <span class="st-labeltext">Mã user<span class="required">*</span></span>
                <input class="st-forminput" autocomplete="off" style="width: 200px" maxlength="20" data-val="true" disabled data-val-required="Mã nhân viên không được bỏ trống." id="code" name="code" type="text" value="@ViewData["code"]">
                <span class="field-validation-valid" data-valmsg-for="code" data-valmsg-replace="true"></span>

                <div class="clear"></div>
            </div>
            <div class="st-form-line">
                <span class="st-labeltext">Tên <span class="required">*</span></span>

                <input class="st-forminput" autocomplete="off" maxlength="50" data-val="true" data-val-required="Họ tên không được bỏ trống." id="user_profile_name" name="user_profile_name" type="text" value="@ViewData["userProfileName"]">
                <span class="field-validation-valid" data-valmsg-for="user_profile_name" data-valmsg-replace="true"></span>
                <div class="clear"></div>
            </div>
            <div class="st-form-line">
                <span class="st-labeltext">Tên hiển thị<span class="required">*</span></span>
                <input class="st-forminput" autocomplete="off" maxlength="50" data-val="true" data-val-required="Tên hiển thị không được bỏ trống." id="screen_name" name="screen_name" type="text" value="@ViewData["screenName"]">
                <span class="field-validation-valid" data-valmsg-for="screen_name" data-valmsg-replace="true"></span>

                <div class="clear"></div>
            </div>
            <div class="st-form-line">
                <span class="st-labeltext">Hộp thư<span class="required">*</span></span>
                <input class="st-forminput" autocomplete="off" style="width: 200px" maxlength="50" data-val="true"  data-val-required="Email không được bỏ trống."  data-val-email="Email không hợp lệ."  id="email" name="email" type="text" value="@ViewData["email"]">
                <span class="field-validation-valid" data-valmsg-for="email" data-valmsg-replace="true"></span>

                <div class="clear"></div>
            </div>
            <div class="st-form-line">
                <span class="st-labeltext">Điện thoại <span class="required">*</span></span>
                <input class="st-forminput" autocomplete="off" style="width: 200px" maxlength="50" data-val="true" data-val-required="Số điện thoại không được bỏ trống." data-val-regex="Số điện thoại không hợp lệ." data-val-regex-pattern="[0-9]{9,15}$"  id="tel" name="tel" type="text" value="@ViewData["tel"]">
                <span class="field-validation-valid" data-valmsg-for="tel" data-valmsg-replace="true"></span>
                <div class="clear"></div>
            </div>
            <div class="st-form-line">

                <span class="st-labeltext">Ngày hết hạn <span class="required">*</span></span>
                <input class="st-forminput" autocomplete="off" style="width: 200px" maxlength="50" data-val="true" data-val-required="Ngày sinh không được bỏ trống."  id="dob" name="dob" type="text" value="@ViewData["dob"]">
                <span class="field-validation-valid" data-valmsg-for="dob" data-valmsg-replace="true"></span>
                <div class="clear"></div>
            </div>
            <div class="st-form-line">
                <span class="st-labeltext">Địa chỉ<span class="required">*</span></span>
                <input class="st-forminput" autocomplete="off"  maxlength="50"  id="address" data-val="true" data-val-required="Địa chỉ  không được bỏ trống." name="address" type="text" value="@ViewData["address"]">
                <span class="field-validation-valid" data-valmsg-for="address" data-valmsg-replace="true"></span>

                <div class="clear"></div>
            </div>

            <div class="button-box">
                <input type="submit" name="button" id="button" value="Cập nhật" class="st-button" />
            </div>

        }
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#dob").datepicker(

            {
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                yearRange: "-100:+0"
            });

    });
</script>