@using BuyGroup365.Models.Home
@using BuyGroup365.Models.Common





<section class="awe-section-3">


    <section class="naturix-goods">
        <div class="container-full">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wraps">
                        <h2 class="section-title">
                            <strong>#Sản phẩm hot</strong>
                        </h2>
                    </div>
                    <div class="products-best-sell">
                        <div class="products-section container">
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <div class="row">
                                        @{
                                            /**/

                                            Business.ClassBusiness.ProductsBusiness productsBusiness = new Business.ClassBusiness.ProductsBusiness();
                                            List<Common.Product> listProducts2 = productsBusiness.GetByAttactive(6);
                                            Business.ClassBusiness.ProductImagesBusiness productImageBusiness = new Business.ClassBusiness.ProductImagesBusiness();

                                            foreach (Common.Product item in listProducts2)
                                            {
                                                int phantramKM = 0;
                                                try
                                                {
                                                    phantramKM = Convert.ToInt32((item.Cost - item.Price) / item.Cost * 100);
                                                }
                                                catch { }
                                                var listImg = productImageBusiness.FindProductId(item.Id);
                                                var imgSource = "";
                                                foreach (var img in listImg)
                                                {
                                                    if (img.IsAvatar == 1)
                                                    {

                                                        imgSource = Util.ReturnLinkCDN(img.ImgSource, Request.Browser.IsMobileDevice);

                                                    }

                                                }
                                                <div class="item col-sm-3 col-xs-6">
                                                    <div class="product-box">
                                                        <div class="product-media">

                                                            <a href="@Util.ReturnLinkFull(item.FriendlyUrl)" title="@item.ProductName">
                                                                <picture>
                                                                    <source media="(min-width: 1200px)" srcset="@imgSource">
                                                                    <source media="(min-width: 1024px)" srcset="@imgSource">
                                                                    <source media="(min-width: 736px)" srcset="@imgSource">
                                                                    <source media="(min-width: 667px)" srcset="@imgSource">
                                                                    <source media="(min-width: 569px)" srcset="@imgSource">
                                                                    <source media="(min-width: 480px)" srcset="@imgSource">
                                                                    <img src="@imgSource" alt="" class="img-responsive center-block">
                                                                </picture>
                                                            </a>


                                                        </div>
                                                        <div class="product-caption">
                                                            <h3 class="product-title">
                                                                <a href="@Util.ReturnLinkFull(item.FriendlyUrl)" title="@item.ProductName"><span class="light-font">@item.ProductName</span></a>

                                                            </h3>
                                                            <div class="price">


                                                                <strong class="clr-txt">@(String.Format("{0:#,###}", item.Price))₫</strong>


                                                            </div>
                                                            
                                                            <div class="prod-icons ababababa">
                                                                <div class="variants form-nut-grid has-validation-callback" >


                                                                   
                                                                    <a class="fa fa-shopping-basket" onclick="updatecartquick(@item.Id,1)" data-toggle="modal" data-target="#myCart" title="Cho vào giỏ hàng"></a>


                                                                    <a href="/gio-hang" class="fa fa-expand quick-view"></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @*<section class="banner" style="margin:0px 0px 30px;">
        <div class="container">
            <a href="https://dhcvietnam.com.vn/"><img src="/content/Mypham/images/banner_5.jpg" alt=""></a>
        </div>
    </section>*@
</section>