@using BuyGroup365.Models.Common;
@using Common;
@using Business.ClassBusiness;





<div id="menu-mobile">
    <div class="clearfix">
        <div class="account_mobile" style="">
            <div class="main-logo">
                @Html.Action("GetByCodeHtml", "Partial", new { Code = "Logo" })
            </div>
        </div>
        <ul class="menu-mobile menu-left no-bullets">
            @{
                MenusBusiness menubussiness = new MenusBusiness();
                List<Common.Menus> ListMenu = new List<Common.Menus>();
                List<Common.Menus> ListMenu1 = new List<Common.Menus>();
                ListMenu = menubussiness.SearchMenusByParentId(-1, 3);
                foreach (var re in ListMenu)
                {
                    ListMenu1 = menubussiness.SearchMenusByParentId(re.Id);
                    if (ListMenu1.Count > 0)
                    {
                        <li>
                            <a class="submenu-level1-children-a" href="@Util.ReturnLinkFull(re.Link)">
                                <img src="@re.BackGround" alt=" @re.MenuName ">
                                @re.MenuName
                            </a>
                            <ul class="dropdown-menu submenu-level1-children" role="menu">
                                <div class="account_mobile" style="">
                                    <i class="fa fa-angle-left"></i>
                                    <div class="main-logo">
                                        @Html.Action("GetByCodeHtml", "Partial", new { Code = "Logo" })
                                    </div>
                                </div>
                                @foreach (var re1 in ListMenu1)
                                {
                                    <li class="title">
                                        <a class="submenu-level1-children-a" href="@Util.ReturnLinkFull(re1.Link)">
                                            <img src="@re1.BackGround" alt=" @re1.MenuName">
                                            @re1.MenuName
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Util.ReturnLinkFull(re.Link)">
                                <img src="@re.BackGround" alt=" @re.MenuName">
                                @re.MenuName
                            </a>
                        </li>
                    }

                }
            }


        </ul>
    </div>
</div>