@using BuyGroup365.Models.Common
@using Common
@using Business.ClassBusiness

@{
    MenusBusiness menubussiness = new MenusBusiness();
    List<Common.Menus> ListMenu = new List<Common.Menus>();
    List<Common.Menus> ListMenungang = new List<Common.Menus>();
    List<Common.Menus> ListMenu1 = new List<Common.Menus>();
    List<Common.Menus> ListMenungang1 = new List<Common.Menus>();
    List<Common.News> news = new List<Common.News>();
    NewsBusiness newsBusiness = new NewsBusiness();
}

<nav class="fix-navbar" id="primary-navigation">
    <div class="row">
        <div class="col-sm-4">
            <div class="megamenu">
                <div class="megamenu-head text-center">
                    <span><i class="fa fa-list"></i> DHC Store <i class="fa fa-angle-down"></i></span>
                </div>
                <ul class="menu-left no-bullets">
                    @{
                        ListMenu = menubussiness.SearchMenusByParentId(-1, 1);
                        foreach (var re in ListMenu)
                        {
                            ListMenu1 = menubussiness.SearchMenusByParentId(re.Id);
                            if (ListMenu1.Count > 0)
                            {


                                <li>
                                    <a href="@Util.ReturnLinkFull(re.Link)">Dưỡng da <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    <div class="sub-menu width_blog ">
                                        <ul class="no-bullets">

                                            @foreach (var re2 in ListMenu1)
                                            {
                                                <li class="dropdown-menu--lv2">
                                                    <a href="@Util.ReturnLinkFull(re2.Link)">
                                                        @re2.MenuName
                                                    </a>

                                                </li>
                                            }


                                        </ul>
                                        @{
                                            if (re.NewGroupID != null)
                                            {
                                                news = newsBusiness.ListByNewsIdNewsGroupActive(re.NewGroupID.Value, 3);
                                                if (news.Count > 0)
                                                {
                                                    <div class="blog-menu">
                                                        @foreach (News new1 in news)
                                                        {
                                                            <div class="news-item">
                                                                <div class="news-img">
                                                                    <a href="@Util.ReturnLinkFull(new1.FriendlyUrl)">
                                                                        <img src="@Util.ReturnLinkCDN(new1.ImageSource,Request.Browser.IsMobileDevice)" alt="@new1.Title">

                                                                    </a>
                                                                </div>
                                                                <div class="news-caption">
                                                                    <h4 class="sub-title-1"> Ngày đăng: @new1.CreateDate </h4>
                                                                    <h3 class="title-2"><a href="@Util.ReturnLinkFull(new1.FriendlyUrl)"> @new1.Title</a></h3>
                                                                    <p>@new1.Summary</p>
                                                                    <a href="@Util.ReturnLinkFull(new1.FriendlyUrl)" class="fsz-12"> CHI TIẾT<i class="fa fa-long-arrow-right"></i> </a>
                                                                </div>
                                                            </div>
                                                        }


                                                    </div>
                                                }
                                            }

                                        }
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="@Util.ReturnLinkFull(re.Link)">@re.MenuName</a>
                                </li>
                            }
                        }
                    }
                </ul>
            </div>

        </div>
        <div class="col-sm-8">
            <ul class="primary-navbar">
                @{
                    ListMenungang = menubussiness.SearchMenusByParentId(-1, 2);

                    foreach (var rengang in ListMenungang)
                    {
                        ListMenungang1 = menubussiness.SearchMenusByParentId(rengang.Id);
                        if (ListMenungang1.Count > 0)
                        {
                            <li class="nav-item dropdown dropdown1">
                                <a href="@Util.ReturnLinkFull(rengang.Link)" class="dropdown-toggle">@rengang.MenuName</a>
                                <ul class="dropdown-menu dropdown-level1">

                                    @foreach (var rengang2 in ListMenungang1)
                                    {
                                        <li><a href="@Util.ReturnLinkFull(rengang2.Link)">@rengang2.MenuName</a></li>
                                    }




                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="">
                                <a href="@Util.ReturnLinkFull(rengang.Link)">@rengang.MenuName</a>
                            </li>
                        }


                    }
                }










            </ul>
        </div>
    </div>

</nav>