@using System.Web.Optimization
@using BuyGroup365.Models.Common;
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@Html.Raw(@ViewBag.Title)</title>
    <meta property="og:locale" content="vi_VN">
    <meta name="description" content="@Html.Raw(@ViewBag.Description)">
    <meta name="keywords" content="@Html.Raw(@ViewBag.Keywords)">
    <meta property="og:title" content="@Html.Raw(@ViewBag.ShareTitle)" />
    <meta property="og:description" content="@Html.Raw(@ViewBag.ShareDescription)" />
    <meta property="og:keyword" content="@Html.Raw(@ViewBag.ShareKeyword)" />
    <meta property="og:url" content="@Util.ReturnLinkFull(@Request.RawUrl)" />
    <meta property="og:site_name" content="vinaplaza.vn" />
    <meta property="og:image" content="@Util.ReturnLinkCDN(@ViewBag.image,Request.Browser.IsMobileDevice)" />
    <meta property="og:image:secure_url" content="@Util.ReturnLinkCDN(@ViewBag.image,Request.Browser.IsMobileDevice)" />
    <meta property="og:image:alt" content="@Html.Raw(@ViewBag.Title)" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="@Html.Raw(@ViewBag.ShareDescription)" />
    <meta name="twitter:title" content="@Html.Raw(@ViewBag.ShareTitle)" />
    <meta name="twitter:image" content="@Util.ReturnLinkCDN(@ViewBag.image,Request.Browser.IsMobileDevice)" />
    <meta name="author" content="@ViewBag.author" />
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="canonical" href="@Util.ReturnLinkFull(@Request.RawUrl)" />
    <link rel="dns-prefetch" href="https://cdn.vinaplaza.vn/">
    <link rel="dns-prefetch" href="https://ajax.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">

    @*@Scripts.RenderFormat(SiteKeys.ScriptNoDeferVersion, "~/bundles/jqueryui")*@
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/bundles/headercss")
    @*@Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/jqueryheader")*@
    @*<script src="/Content/Csspublic/js/jquery-1.12.4.js"></script>*@
    <script src="/Content/Csspublic/js/jquery-ui.js"></script>


    <link href="/Content/Mypham/css/mypham2.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/Content/Mypham/css/owl.carousel.min.css" rel="stylesheet" type="text/css" media="all">
    <!-- Build Main CSS -->
    <link href="/Content/Mypham/css/base.scss.css" rel="stylesheet" type="text/css" media="all">
    <link href="/Content/Mypham/css/style.scss.css" rel="stylesheet" type="text/css" media="all">
    <link href="/Content/Mypham/css/update.scss.css" rel="stylesheet" type="text/css" media="all">
    <link href="/Content/Mypham/css/module.scss.css" rel="stylesheet" type="text/css" media="all">
    <link href="/Content/Mypham/css/responsive.scss.css" rel="stylesheet" type="text/css" media="all">
    <link href="/Content/Mypham/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="/Content/Mypham/css/animate.css" rel="stylesheet" type="text/css" media="all">
    <link href="/Content/Mypham/css/modal-cart.scss.css" rel="stylesheet" type="text/css" media="all">
    <link href="/Content/Mypham/css/ant-my-pham.scss.css" rel="stylesheet" type="text/css" media="all">
    <link href="/Content/Mypham/css/reponsive.scss.css" rel="stylesheet" type="text/css" media="all">
    <link href="/Content/Mypham/css/check_out.css" rel="stylesheet" type="text/css" media="all">
    <!-- Header JS -->
    <script type="text/javascript" async="" src="/content/Mypham/images/f.txt"></script>
    <script type="text/javascript" async="" src="/content/Mypham/images/js"></script>
    <script type="text/javascript" async="" src="/Content/Mypham/js/ega_sales_countdown_exec_v1_1_2_0e0fa7acd499412cbcac10c6d358548d.js"></script>
    <script type="text/javascript" async="" src="/Content/Mypham/js/tracker.js"></script>
    <script type="text/javascript" async="" src="/Content/Mypham/js/script_tag_production.js"></script>
    <script type="text/javascript" async="" src="/Content/Mypham/js/widgets.js"></script>
    <script type="text/javascript" async="" src="/Content/Mypham/js/windowpopup.js"></script>
    <script type="text/javascript" async="" src="/Content/Mypham/js/haravan_dhcshop_tracking.js"></script>
    <script type="text/javascript" async="" src="/Content/Mypham/js/noname_4213484e-56a9-4fa4-62eb-a9e03670842f.js"></script>
    <script type="text/javascript" async="" src="/Content/Mypham/js/aewishlist.js"></script>
    <script type="text/javascript" async="" src="/Content/Mypham/js/productreviews.js"></script>
    <script id="hrfwidget-core" src="/Content/Mypham/js/widget.js"></script>
    <script src="/Content/Mypham/js/inferredEvents.js" async=""></script>
    <script src="/Content/Mypham/js/335864760700645" async=""></script>
    <script src="/Content/Mypham/js/identity.js" async=""></script>
    <script async="" src="/Content/Mypham/js/fbevents.js"></script>
    <script async="" src="/Content/Mypham/js/analytics.js"></script>
    <script src="/Content/Mypham/js/jquery-2.2.3.min.js" type="text/javascript"></script>

    <script>
        //<![CDATA[
        (function () { function asyncLoad() { var urls = ["/Content/Mypham/js/productreviews.js", "/Content/Mypham/js/aewishlist.js?v=1.2", "/Content/Mypham/js/noname_4213484e-56a9-4fa4-62eb-a9e03670842f.js", "/Content/Mypham/js/haravan_dhcshop_tracking.js", "/Content/Mypham/js/windowpopup.js?shop=dhcshop.myharavan.com&ver=1544521247145", "/Content/Mypham/js/widgets.js?shop=dhcshop.myharavan.com", "/Content/Mypham/js/script_tag_production.js", "/Content/Mypham/js/tracker.js", "https://file.hstatic.net/1000300983/file/ega_sales_countdown_exec_v1_1_2_0e0fa7acd499412cbcac10c6d358548d.js"]; for (var i = 0; i < urls.length; i++) { var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = urls[i]; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); } } window.attachEvent ? window.attachEvent('onload', asyncLoad) : window.addEventListener('load', asyncLoad, false); })();
        //]]>
    </script>
    <script type="text/javascript">
        window.HaravanAnalytics = window.HaravanAnalytics || {};
        window.HaravanAnalytics.meta = window.HaravanAnalytics.meta || {};
        window.HaravanAnalytics.meta.currency = 'VND';
        var meta = { "page": { "pageType": "home" } };
        for (var attr in meta) {
            window.HaravanAnalytics.meta[attr] = meta[attr];
        }
    </script>
    <script async="" src="/Content/Mypham/js/haravan-analytics.min.js" type="text/javascript"></script>


    <script src="/content/Mypham/js/option_selection.js" type="text/javascript"></script>

    <script src="/content/Mypham/js/hogan-3.0.1.js" type="text/javascript"></script>
    <script src="/content/Mypham/js/haravan.plugin.1.0.js"></script>
    <!-- harafunnel -->
    <script src="/content/Mypham/js/1152083771590803.js" async="async">
    </script>
    <script src="/content/Mypham/js/app-combo.js" type="text/javascript"></script>
    <script src="/content/Mypham/js/lastviewproduct.js" type="text/javascript"></script>
    <!-- end of harafunnel -->
    <!-- Ecomobi -->
    <script src="/content/Mypham/js/eco_tracking_all_order.js" type="text/javascript"></script>
    <!-- End of Ecomobi -->
    <meta name="google-site-verification" content="lFc1722uKWDyXpYwhXL4G9v9od1AR28qeVhMmHPrkeQ">
    <meta name="google-site-verification" content="6HYs3zyZMI2q8_seZ87IT1Vvr4G90x6J0a9LIAyPhT8">
    <script>if (typeof (_sokShops) === "undefined") { _sokShops = {}; } _sokShops.getNumber = function (val) { val = val.replace(/,/g, ""); var reg = /\d+(\.\d{1,2})?/; if (val.length && val.match(reg).length) { return parseFloat(val.match(reg)[0]); } else { return 0; } }; _sokShops.cart = { product_imageurl: ["https:images/dhc_olive_sube_sube_mini_set_5b3e76d3dbb74c5482a008f1ce4723bc_master.jpg",], sku_id: ["1037293649",], product_names: ["",], sku_url: ["/products/bo-olive-sube-sube-mini-set-ss",], product_prices: [_sokShops.getNumber("360,000₫"),], product_quantities: [1,], cart_amount: _sokShops.getNumber("360,000₫"), currency: "VND" };</script>

    <script type="text/javascript" src="/content/Mypham/images/graviti.min.js"></script>


    <script type="text/javascript" async="" src="/content/Mypham/images/tracker.js(1)"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="./DHC - Nhà phân phối Mỹ phẩm Nhật Bản chính hãng tại Việt Nam _ DHC_files/css">
    <link type="text/css" rel="stylesheet" href="/Content/Mypham/css/style.min.css">

    <link href="/Content/Mypham/css/mypham1.css" rel="stylesheet" type="text/css" media="all">
    <script type="text/javascript" src="https://dhcvietnam.com.vn/"></script>
    <link rel="stylesheet" type="text/css" href="/Content/Mypham/css/widgets-main.css">
    <link href="/Content/Mypham/css/dsalespopup.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/Content/Mypham/css/productreviews.css" media="all">
    <link rel="stylesheet" type="text/css" href="/Content/Mypham/css/jquery.raty.css" media="all">
    <script src="/content/Mypham/js/f(1).txt"></script>
</head>
<body id="home" class="wide" style="">



    <script>
        var lastViewProducts = new LastViewProducts({
            max: 6
        });
    </script>
    <div id="box-wrapper">
        <main class="wrapper home-wrap">
            <!-- Main content -->
            @Html.Partial("_PartialHeader")
            <script>
                $(document).ready(function () {
                    $(".button-menu").click(function () {
                        $(".primary-navbar.off").hide();
                        $(".fix-menumobile.on").show();
                    });
                    $(".button-menu.off").click(function () {
                        $(".fix-menumobile.on").hide();
                        $(".primary-navbar.off").show();
                    });
                    $(".ovlow-nav").click(function () {
                        $(".fix-menumobile.on").hide();
                        $(".primary-navbar.off").show();
                    });

                });

            </script>


            @RenderBody()


            @Html.Partial("_PartialFooter")




            <!-- /FOOTER -->
            <div id="to-top-mb" class="to-top mb"> <i class="fa fa-arrow-circle-o-up"></i> </div>

        </main>
    </div>
    <!-- Plugin JS -->
    <script src="/content/Mypham/js/api.jquery.js" type="text/javascript"></script>
    <script src="/content/Mypham/js/owl.carousel.min.js" type="text/javascript"></script>
    <script src="/content/Mypham/js/timber.js" type="text/javascript"></script>
    <script src="/content/Mypham/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/content/Mypham/js/jquery.form-validator.min.js" type="text/javascript"></script>
    <script>$.validate({});</script>
    <!-- Add to cart -->
    <div class="ajax-load">
        <span class="loading-icon">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
            <rect x="0" y="6.46642" width="4" height="17.0672" fill="#333" opacity="0.2">
            <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s" repeatCount="indefinite"></animate>
            <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s" repeatCount="indefinite"></animate>
            <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s" repeatCount="indefinite"></animate>
			</rect>
            <rect x="8" y="6.03358" width="4" height="17.9328" fill="#333" opacity="0.2">
            <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s" repeatCount="indefinite"></animate>
            <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite"></animate>
            <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite"></animate>
			</rect>
            <rect x="16" y="8.53358" width="4" height="12.9328" fill="#333" opacity="0.2">
            <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s" repeatCount="indefinite"></animate>
            <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite"></animate>
            <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite"></animate>
			</rect>
		</svg>
        </span>
    </div>
    <div class="loading awe-popup">
        <div class="overlay"></div>
        <div class="loader" title="2">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
            <rect x="0" y="6.46642" width="4" height="17.0672" fill="#333" opacity="0.2">
            <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s" repeatCount="indefinite"></animate>
            <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s" repeatCount="indefinite"></animate>
            <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s" repeatCount="indefinite"></animate>
			</rect>
            <rect x="8" y="6.03358" width="4" height="17.9328" fill="#333" opacity="0.2">
            <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s" repeatCount="indefinite"></animate>
            <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite"></animate>
            <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite"></animate>
			</rect>
            <rect x="16" y="8.53358" width="4" height="12.9328" fill="#333" opacity="0.2">
            <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s" repeatCount="indefinite"></animate>
            <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite"></animate>
            <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite"></animate>
			</rect>
		</svg>
        </div>
    </div>
    <div class="addcart-popup product-popup awe-popup">
        <div class="overlay no-background"></div>
        <div class="content">
            <div class="row row-noGutter">
                <div class="col-xl-6 col-xs-12">
                    <div class="btn btn-full btn-primary a-left popup-title">
                        <i class="fa fa-check"></i>Thêm vào giỏ hàng thành công
                    </div>
                    <a href="javascript:void(0)" class="close-window close-popup"><i class="fa fa-close"></i></a>
                    <div class="info clearfix">
                        <div class="product-image margin-top-5">
                            <img alt="popup" src="/content/Mypham/images/logo.png" style="max-width:150px; height:auto">
                        </div>
                        <div class="product-info">
                            <p class="product-name"></p>
                            <p class="quantity color-main"><span>Số lượng: </span></p>
                            <p class="total-money color-main"><span>Tổng tiền: </span></p>
                        </div>
                        <div class="actions">
                            <button class="btn  btn-primary  margin-top-5 btn-continue">Tiếp tục mua hàng</button>
                            <button class="btn btn-gray margin-top-5" onclick="window.location=&#39;/cart&#39;">Kiểm tra giỏ hàng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="error-popup awe-popup">
        <div class="overlay no-background"></div>
        <div class="popup-inner content">
            <div class="error-message"></div>
        </div>
    </div>

    
    <div class="backdrop__body-backdrop___1rvky"></div>

    @Html.Action("MenuTopMobile", "Partial")
    <script src="/content/Mypham/js/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="/content/Mypham/js/jquery.plugin.min.js" type="text/javascript"></script>

    <!-- Main JS -->
    <script src="/content/Mypham/js/main.js" type="text/javascript"></script>
    <!-- Product detail JS,CSS -->

    <ul class="the-article-tools scroll-to-fixed-fixed">

        <li class="btnHotline"><a href="tel:1800 8003" title="Hotline"><span class="fa fa-phone"></span></a><span class="label">Hotline 1800 8003 </span></li>

        <li class="btnZalo"><a href="https://dhcvietnam.com.vn/" title="Youtube" target="_blank"><span class="fa fa-youtube-play"></span></a><span class="label">Youtube</span></li>
        <li class="btnViber"><a href="https://dhcvietnam.com.vn/#" title="Facebook" target="_blank"><span class="fa fa-facebook"></span></a><span class="label">Facebook</span></li>
    </ul>
    <div class="float-right-icon">
        <ul>
            <li>
                <div class="cart-float-right medium-down--hide animated off fadeOutRight">
                    <a href="/gio-hang" class="site-scroller__cart-toggle-link js-drawer-open-right" title="Giỏ hàng">
                        <div class="site-scroller__cart-toggle">
                            <div class="site-scroller__cart-toggle-image">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="26px" viewBox="0 0 36 26" version="1.1" class="inline-svg replaced-svg">
                                    <!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch -->
                                    <g transform="translate(-1318.000000, -666.000000)">
                                        <g transform="translate(1304.000000, 646.000000)">
                                            <g id="scroll-cart" transform="translate(14.000000, 20.000000)" fill-rule="evenodd" fill="#FFFFFF">
                                                <path d="M23.7938961,18.6533877 L5.67428227,18.6533877 C5.32156367,18.6533877 5.04867635,18.4577228 4.93023386,18.1050042 L0.42994102,4.91823308 C0.272887322,4.52690326 0.507685209,4.05782926 0.899015021,3.93990855 C1.29034483,3.78285485 1.75889706,4.01713096 1.87733955,4.40846077 L6.18196748,17.0880685 L23.1656813,17.0880685 L28.3714114,0.886492467 C28.4898538,0.572906845 28.7627412,0.338108957 29.1154598,0.338108957 L34.8283533,0.338108957 C35.2582943,0.338108957 35.6110129,0.690827561 35.6110129,1.12076858 C35.6110129,1.55123137 35.2582943,1.9034282 34.8283533,1.9034282 L29.7410657,1.9034282 L24.5353357,18.1050042 C24.419502,18.4191116 24.1053946,18.6533877 23.7938961,18.6533877 L23.7938961,18.6533877 Z" id="Fill-1"></path>
                                                <path d="M22.3830217,25.2287721 C20.9361449,25.2287721 19.7214572,24.0547826 19.7214572,22.5666858 C19.7214572,21.078589 20.8954466,19.9045996 22.3830217,19.9045996 C23.8711185,19.9045996 25.045108,21.078589 25.045108,22.5666858 C25.045108,24.0526956 23.8711185,25.2287721 22.3830217,25.2287721 L22.3830217,25.2287721 Z M22.3830217,21.4699188 C21.796027,21.4699188 21.2867764,21.9389928 21.2867764,22.5666858 C21.2867764,23.1922917 21.7553287,23.6634528 22.3830217,23.6634528 C23.0091494,23.6634528 23.4797887,23.1536805 23.4797887,22.5666858 C23.4797887,21.9796911 23.0112365,21.4699188 22.3830217,21.4699188 L22.3830217,21.4699188 Z" id="Fill-2"></path>
                                                <path d="M7.12115903,25.2287721 C5.67428227,25.2287721 4.45959454,24.0547826 4.45959454,22.5666858 C4.45959454,21.078589 5.63358397,19.9045996 7.12115903,19.9045996 C8.60925586,19.9045996 9.7832453,21.078589 9.7832453,22.5666858 C9.7832453,24.0526956 8.60925586,25.2287721 7.12115903,25.2287721 L7.12115903,25.2287721 Z M7.12115903,21.4699188 C6.53416431,21.4699188 6.02491378,21.9389928 6.02491378,22.5666858 C6.02491378,23.1922917 6.49346601,23.6634528 7.12115903,23.6634528 C7.74728673,23.6634528 8.21792605,23.1536805 8.21792605,22.5666858 C8.21792605,21.9796911 7.74937382,21.4699188 7.12115903,21.4699188 L7.12115903,21.4699188 Z" id="Fill-3"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <span id="ScrollerCartCount" class="cart-count count_item_pr">@Session["SLSanPham"]</span>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div id="scroll-to-top" data-toggle="" data-placement="left" title="Đầu trang" class="animated off fadeOutRight">
                    <div class="site-scroller__scroll-up">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21px" height="18px" viewBox="0 0 21 18" version="1.1" class="inline-svg replaced-svg">
                            <g transform="translate(-1324.000000, -742.000000)">
                                <g transform="translate(1304.000000, 646.000000)">
                                    <polygon fill="#FFFFFF" fill-rule="evenodd" id="scroll-up" points="40.6911849 106.338126 31.7224899 97.3816128 31.7256335 97.3768974 30.3503079 96 30.3455925 96.0062872 30.3408771 96 28.9655514 97.3768974 28.968695 97.3816128 20 106.338126 21.3753256 107.714631 29.3663606 99.7345986 29.3679324 113.277627 31.3142147 113.277627 31.3110711 99.7208453 39.3158593 107.714631"></polygon>
                                </g>
                            </g>
                        </svg>
                    </div>
                </div>
            </li>
        </ul>
    </div>


    <div id="myCart" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Giỏ hàng</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <div id="cartform" style="display: block;">
                    <div class="modal-body">
                        <table style="width:100%;" id="cart-table">
                            <tbody id="contentCart"></tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="modal-note">
                                    <textarea placeholder="Viết ghi chú" id="note" name="note" rows="5"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="total-price-modal">
                                    Tổng cộng : <span class="item-total" id="TotalCart"></span> VNĐ
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-lg-6">
                                <div class="comeback">
                                    <a href="/#">
                                        Mua thêm sản phẩm khác <i class="fa fa-angle-double-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 text-right">
                                <div class="buttons btn-modal-cart">
                                    @*<button type="submit" class="button-default " id="checkout" name="checkout">
                                        
                                    </button>*@
                                    <a href="/gio-hang">
                                        Tiến hành thanh toán <i class="fa fa-angle-double-right"></i>
                                    </a>
                                </div>
                                <div class="buttons btn-modal-cart hidden">
                                    <button type="submit" class="button-default" id="update-cart-modal" name="">
                                        Cập nhật
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

        $(document).on('change', '#quantity1', function () {
            clearTimeout(200);
            typingTimer = setTimeout(doneTyping, 200);
        });


        function doneTyping() {
            $('#update-cart-modal').trigger("click");
        }

        // Ẩn modal cart khi click vào tiếp tục mua hàng
        $(".comeback a").click(function () {

        });

        $(document).ready(function () {
            $(".bnt-freeship").click(function () {
                alert("Freeship toàn quốc với đơn hàng trên 500k.");

            });

        });
    </script>
    <style>

        input[type=number] {
            /*for absolutely positioning spinners*/
            position: relative;
            padding: 5px;
            padding-right: 25px;
        }

            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
                opacity: 0;
            }

            input[type=number]:hover::-webkit-inner-spin-button,
            input[type=number]:hover::-webkit-outer-spin-button {
                opacity: 1;
            }

            input[type=number]::-webkit-outer-spin-button,
            input[type=number]::-webkit-inner-spin-button {
                -webkit-appearance: inner-spin-button !important;
                width: 25px;
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
            }
    </style>



    <section class="modal overlay"></section>
    <style>

        section.modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 998;
        }

        section.modalWindow {
            overflow: initial;
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 999 !important;
            width: 1000px;
            min-height: 200px;
            background: #FFF;
            cursor: default;
            bottom: auto;
        }

        section.modal.overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            min-height: 100%;
            background: rgba(0, 0, 0, 0.1);
            z-index: 997;
            cursor: pointer;
        }

        section.modalWindow section.modalWrapper {
            text-align: left;
            line-height: 20px !important;
        }

        section.modal .left {
            padding: 30px 35px 30px 50px;
        }

            section.modal .left h2 {
                font-size: 25px;
                font-weight: 600;
                margin: 0 0 25px;
            }

            section.modal .left label {
                text-transform: uppercase;
                color: #333;
            }

            section.modal .left input {
                border-radius: 5px !important;
                overflow: hidden;
            }

                section.modal .left input.btn.btn--full {
                    color: #fff;
                    text-transform: uppercase;
                    background: #15408e;
                    font-weight: 700;
                }

            section.modal .left p.reset {
                text-align: right;
                margin-bottom: 8px;
            }

        div#CustomerRegisterForm h2 {
            margin-bottom: 0;
        }

        div#CustomerRegisterForm button {
            background: none;
            border: 0;
            color: #000;
            margin-bottom: 15px;
            font-size: 16px;
            margin-top: 10px;
        }

            div#CustomerRegisterForm button:hover {
                color: #15408e;
            }

        section.modal .left p a {
            color: #e603c0;
        }

        .closeBtn {
            position: absolute;
            right: 0px;
            top: 6px;
            cursor: pointer;
        }

        button#HideRecoverPasswordLink {
            border: 0;
            color: #333;
        }
        /*.content h3 {
            font-size: 16px;
            color: #fff;
            font-weight: 600;
            margin: 0;
            margin-top: 10px;
            }*/
        hr {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .right {
            top: 0;
            right: 0;
            background-color: #BBBBBB
        }

            .right .content {
                color: #FFFFFF;
            }

            .right .right_fix {
                width: 100%;
                margin: 0px;
                padding: 61px 15px;
            }

        section.modalWrapper .btn {
            width: 100%;
            padding: 0;
            display: inline-block;
        }

        .right button {
            width: 100%;
            background: #FFFFFF;
            color: #565656;
            cursor: pointer;
            font-weight: bold;
            border: none;
        }

            .right button:hover {
                opacity: 0.8;
            }

        .closeBtn {
            position: absolute;
            right: -15px;
            top: -15px;
            font-weight: bold;
            border-radius: 50%;
            background-color: #ffffff;
            z-index: 999999;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
        }

        .close:hover,
        .close:focus {
            background-color: red;
            color: #FFFFFF;
            cursor: pointer;
        }
    </style>
    <script>
        settings = {
            //Model Popup
            objModalPopupBtn: ".modalButton",
            objModalCloseBtn: ".overlay, .closeBtn",
            objModalDataAttr: "data-popup"
        }
        $(settings.objModalPopupBtn).bind("click", function () {
            if ($(this).attr(settings.objModalDataAttr)) {

                var strDataPopupName = $(this).attr(settings.objModalDataAttr);


                //Fade In Modal Pop Up
                $(".overlay, #" + strDataPopupName).fadeIn();

            }
        });

        //On clicking the modal background
        $(settings.objModalCloseBtn).bind("click", function () {
            $(".modal").fadeOut();
        });


    </script>


    <script src="/content/Mypham/js/script.js" type="text/javascript"></script>



















    <script type="text/javascript">

   
        function updatecartquick(id, sl) {
        $('#overbackgroud1').show();


        $.ajax({
            url: '@Url.Action("ViewCart", "Ajax")',
            data: {
                'id': id,
                'sl': sl

            },
            dataType: 'json',
            Type: 'POST',
            success: function (data) {

                var html = "";
                var total = 0;
                var sl1 = 0;
                var htmlpoup = "<table style=\"width: 100%; \" id=\"cart-table\"><tbody> <tr><th>Sản phẩm</th> <th></th> <th>Đơn hàng</th> <th>Số lượng</th> <th>Giá tiền</th><th></th> </tr> <tr class=\"line-item original\"> <td class=\"item-image\"></td> <td class=\"item-title\">      <a></a>  <span class=\"item-delete\"></span> </td>  <td class=\"item-prices\"></td> <td class=\"item-quantity\"></td>  <td class=\"item-price\"></td> </tr>";


                $.each(data, function (key, value) {

                    var strurl = "/" + value.FriendlyUrl + "-ct" + value.Id;

                    sl1 += parseInt(value.Quantity);
                    total += parseInt(value.Quantity) * parseFloat(value.Price);
                    var thanhtien = parseInt(value.Quantity) * parseFloat(value.Price);


                    htmlpoup += " <tr class=\"line-item\"><td class=\"item-image\"><img src=\"" + value.AvatarUrl + "\"  alt=\"" + value.ProductName + "\"></td> " +
                        "<td class=\"item-title\"><a href=\"#\">" + value.ProductName + "</a><span class=\"item-delete\"><a href=\"javascript: void (0); \" onclick=\"deleteCart(1017958355)\"><i class=\"fa fa-trash-o\"></i> Bỏ sản phẩm</a></span></td> " +
                        "<td class=\"item-prices\">" + formatNumber(value.Price) + "</td>" +
                        "<td class=\"item-quantity\">" + value.Quantity + "</td>" +
                        "<td class=\"item-prices\">" + formatNumber(thanhtien) + "</td>   </tr>";
                });


                var htmcontent = formatNumber(total);
              
             
                $('#contentCart').html("");              
                $('#contentCart').append(htmlpoup);
                $('#TotalCart').html("");  
                $('#TotalCart').append(htmcontent); 


            },
            error: function () {

            }
        });

    }
    function formatNumber(num) {
        return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");
    }
    </script>







    <style>
        .tb_button {
            padding: 1px;
            cursor: pointer;
            border-right: 1px solid #8b8b8b;
            border-left: 1px solid #FFF;
            border-bottom: 1px solid #fff;
        }

            .tb_button.hover {
                borer: 2px outset #def;
                background-color: #f8f8f8 !important;
            }

        .ws_toolbar {
            z-index: 100000
        }

            .ws_toolbar .ws_tb_btn {
                cursor: pointer;
                border: 1px solid #555;
                padding: 3px
            }

        .tb_highlight {
            background-color: yellow
        }

        .tb_hide {
            visibility: hidden
        }

        .ws_toolbar img {
            padding: 2px;
            margin: 0px
        }
    </style>
    <!-- Nếu có class active thì sẽ hiện lên ở customer buy, ko thì sẽ ko hiện lên. Mỗi lần có khách mua chỉ cần thêm class active -->
    <div style="display: block;" class="fade-in fade-out customized" id="someone-purchased">
        <div style="display: block;">

            <a href="/">
                <img src="https://cdn.vinaplaza.vn/Images/img/custom-buy.png" alt="order">
                <p>Khách hàng <span class="people">Anh Dũng</span> số điện thoại: <span class="phone-order">092342xxx</span><br><font>tại <span class="country">Hà Nội</span> vừa đặt hàng cách đây <span class="timeAgo">10 giây trước</span></font></p>
            </a>

        </div>
        <div style="display: none;">
            <a href="/">
                <img src="https://cdn.vinaplaza.vn/Images/img/custom-buy.png" alt="order">
                <p>Khách hàng <span class="people">Anh Dũng</span> số điện thoại: <span class="phone-order">092342xxx</span><br><font>tại <span class="country">Hải Phòng</span> vừa đặt hàng cách đây <span class="timeAgo">5 phút  trước</span></font></p>
            </a>
        </div>
    </div>
    <script> @Html.Raw(Util.JSSitting());</script>
    
    <script src="/Content/Mypham/js/Controller/BaseController.js"></script>
</body>
</html>