@using Common.util
@using Common;
@using Business;
@using Business.ClassBusiness;
@using BuyGroup365.Models.Common;




@*@Html.Action("MenuTop", "Partial")


    @Html.Action("MenuTopMobile", "Partial")*@





<header class="main-header ">
    <div class="header-decktop">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="main-logo">

                            @Html.Action("GetByCodeHtml", "Partial", new { Code = "Logo" })
                        </div>
                    </div>
                    <div class="col-sm-4 search-top">

                        <div id="searchauto" action="https://dhcvietnam.com.vn/search" class="input-group search-bar search_form searchform-categoris ultimate-search has-validation-callback">
                            <div class="wpo-search">
                                <div class="wpo-search-inner">
                                    <div class="input-group">
                                        
                                        <input id="searchtext" name="q" maxlength="40" class="input-group-field st-default-search-input search-text form-control input-search" type="text" size="20" placeholder="Tìm kiếm..." autocomplete="off">
                                        <span class="input-group-addon input-group-btn">
                                            <button type="submit" id="searchsubmit" class="btn"  onclick="search()">
                                                <img width="22" src="/content/Mypham/images/search.png" alt="Tìm kiếm">
                                            </button>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>



                        <style>


                            .smart-search-wrapper > a.thumbs {
                                width: 32px;
                                display: inline-block;
                                padding: 5px 0px;
                            }



                                .smart-search-wrapper > a.thumbs img {
                                    position: absolute;
                                    top: 0px;
                                    width: 32px;
                                    height: 35px;
                                    left: 0px;
                                }

                            .smart-search-wrapper {
                                position: fixed;
                                background: #fff;
                                border: 1px solid rgb(215, 215, 215);
                                border-top: none;
                                z-index: 999;
                            }

                                .smart-search-wrapper > a {
                                    width: calc(100% - 32px);
                                    float: left;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    white-space: pre;
                                    color: #686767;
                                    text-decoration: none;
                                    line-height: 29px;
                                    font-size: 13px;
                                    font-family: sans-serif;
                                    padding: 5px 160px 5px 5px;
                                    position: relative;
                                    height: 35px;
                                }

                                    .smart-search-wrapper > a.select, .smart-search-wrapper > a:hover {
                                        background: -webkit-linear-gradient(left, #fff,#EAEAEA); /* For Safari 5.1 to 6.0 */
                                        background: -o-linear-gradient(left, #fff,#EAEAEA); /* For Opera 11.1 to 12.0 */
                                        background: -moz-linear-gradient(left, #fff,#EAEAEA ); /* For Firefox 3.6 to 15 */
                                        background: linear-gradient(left, #fff,#EAEAEA ); /* Standard syntax (must be last) */
                                        color: #000;
                                    }

                                    .smart-search-wrapper > a > span.price-search {
                                        position: absolute;
                                        right: 5px;
                                        top: 0px;
                                    }
                        </style>
                    </div>
                    <div class="col-sm-5">
                        <div class="col-md-6 hidden-xs">
                            @Html.Action("GetByCodeHtml", "Partial", new { Code = "HotLineTop" })
                        </div>
                        <div class="col-md-6 col-xs-12">
                            @Html.Action("GetByCodeHtml", "Partial", new { Code = "Showroom" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-nav-border visible-lg visible-md">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 responsive-menu">
                        @Html.Action("MenuTop", "Partial")
                    </div>
                    <div class="col-lg-2 col-md-2 hidden-sm hidden-xs cart-megamenu">

                        <div id="top-cart" class="cart-info cart-hover top-cart-block">
                            <a id="top-cart-trigger" href="javascript:void(0)" data-toggle="modal" data-target="#myCart" title="Giỏ hàng">
                                <img src="/content/Mypham/images/cart.png" alt="Giỏ hàng"> Giỏ hàng <span class="cnt crl-bg count_item_pr">@Session["SLSanPham"]</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-mb hidden-md hidden-lg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group search-bar search_form has-validation-callback" method="get" role="search">
                            <input type="search" id="searchtext" name="q" value="" placeholder="Tìm kiếm sản phẩm... " class="input-group-field st-default-search-input search-text" autocomplete="off">
                           
                            <span class="input-group-btn">
                                <button class="btn icon-fallback-text"  onclick="search()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-mobile" style="display:none;">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <div class="mobile-button hidden-lg hidden-md">
                        <div class="menu-hover">
                            <button type="button" class="navbar-toggle collapsed visible-sm visible-xs" id="trigger-mobile">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-5">
                    <div class="main-logo">
                        @Html.Action("GetByCodeHtml", "Partial", new { Code = "Logo" })
                    </div>
                </div>
                <div class="col-xs-4">
                    <p class="welcome-msg"><a href="tel:1800 8003" rel="nofollow"><img width="20" src="/content/Mypham/images/phone.png" alt="Search"> </a></p>
                    <div class="header-search">
                        <div class="search-hover">
                            <button title="Giỏ hàng">
                                <img src="/content/Mypham/images/search.png" width="20" alt="Search">
                            </button>
                        </div>
                    </div>
                    <div class="cart-hover">
                        <a href="https://dhcvietnam.com.vn/cart" title="Giỏ hàng"><img src="/content/Mypham/images/cart.png" width="20" alt="Giỏ hàng"></a>
                        <span class="cnt crl-bg count_item_pr">@Session["SLSanPham"]</span><div id="myCartship" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLabel">Giỏ hàng của bạn (@Session["SLSanPham"] sản phẩm)</h4>
                                    </div>
                                    <div class="comeback">
                                        <a href="https://dhcvietnam.com.vn/collections/all">
                                            Mua thêm sản phẩm khác <i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </div>
                                    <div class="buttons btn-modal-cart">
                                        <button type="submit" class="button-default" id="checkout" name="checkout">
                                            Tiến hành thanh toán
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="search-header" style="display:none;">

                        <div id="searchauto" class="input-group search-bar search_form searchform-categoris ultimate-search has-validation-callback">
                            <div class="wpo-search">
                                <div class="wpo-search-inner">
                                    <div class="input-group">

                                        <input id="txtKeyword" name="q" maxlength="40" class="input-group-field st-default-search-input search-text form-control input-search" type="text" size="20" placeholder="Tìm kiếm..." autocomplete="off">
                                        <span class="input-group-addon input-group-btn">
                                            <button type="submit" id="searchsubmit" class="btn" onclick="search()">
                                                <img width="22" src="/content/Mypham/images/search.png" alt="Tìm kiếm">
                                            </button>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <script>


                            $('.ultimate-search').submit(function (e) {

                                e.preventDefault();

                                var q = $(this).find('input[name=q]').val();

                                if (!q) {
                                    window.location = '/search?type=product&q=**';
                                    return;
                                }
                                else {
                                    window.location = '/search?type=product&q=' + q;
                                    return;
                                }
                            });

                            function selectSuggest(act) {

                                cur = $('.smart-search-wrapper > .select').index();

                                length = $('.smart-search-wrapper > a').length;

                                if (act == 38) {

                                    if (cur == -1 || cur == 0)

                                        cur = length - 1;

                                    else

                                        cur = cur - 1;

                                }


                                if (act == 40) {

                                    if (cur == -1 || cur == length - 1)

                                        cur = 0;

                                    else

                                        cur = cur + 1;
                                }

                                $('.smart-search-wrapper>a').removeClass('select');

                                $('.smart-search-wrapper>a:nth-child(' + (cur + 1) + ')').addClass('select');


                                $('.ultimate-search input[name=q]').val($('.smart-search-wrapper>.select').attr('data-title'));
                                return false;
                            }


                            (function ($) {
                                $.fn.smartSearch = function (_option) {


                                    var o, issending = false,

                                        timeout = null;

                                    var option = {
                                        smartoffset: true, //auto calc offset

                                        searchoperator: '**', //** contain, *= begin with, =* end with

                                        searchfield: "title",

                                        searchwhen: 'keyup', //0: after keydown, 1: after keypress, after space

                                        searchdelay: 500, //delay time before load data

                                    };

                                    if (typeof (_option) !== 'undefined') {

                                        $.each(_option, function (i, v) {

                                            if (typeof (_option[i]) !== 'undefined') option[i] = _option[i];

                                        })
                                    }

                                    o = $(this);

                                    o.attr('autocomplete', 'off');

                                    this.bind(option.searchwhen, function (event) {

                                        if (event.keyCode == 38 || event.keyCode == 40) {

                                            return selectSuggest(event.keyCode);

                                        } else {

                                            $(".smart-search-wrapper." + option.wrapper).remove();

                                            clearTimeout(timeout);

                                            timeout = setTimeout(l, option.searchdelay, $(this).val());

                                        }

                                    });

                                    var l = function (t) {

                                        if (issending) return this;

                                        issending = true;

                                        coll = ''

                                        if (option.collection != null)

                                            coll = $(option.collection).val() + "&&";

                                        $.ajax({

                                            url: "/search?q=filter=(" + coll + "(" + option.searchfield + ":product" + option.searchoperator + t + "))&view=ultimate-search",

                                            dataType: "JSON",

                                            async: false,

                                            success: function (data) {

                                                if ($('.smart-search-wrapper.' + option.wrapper).length == 0) {

                                                    $('body').append("<div class='smart-search-wrapper " + option.wrapper + "'></div>");

                                                }

                                                p();

                                                $.each(data, function (i, v) {

                                                    $(".smart-search-wrapper." + option.wrapper).append("<a data-title='" + v.title + "'class='thumbs' href='" + v.url + "'> <img src='" + Haravan.resizeImage(v.featured_image, 'icon') + "'/></a><a data-title='" + v.title + "' href='" + v.url + "'>" + v.title + "<span class='price-search'>" + Haravan.formatMoney(v.price, '') + "đ</span></a>");

                                                });

                                                issending = false;

                                            },

                                            error: function (xhr, ajaxOptions, thrownError) {

                                                //alert(xhr.status);

                                                //alert(thrownError);

                                            }

                                        });

                                    }

                                    $(window).resize(function () {

                                        p();

                                    });

                                    $(window).scroll(function () {

                                        p();

                                    });

                                    $(this).blur(function () {

                                        $('.smart-search-wrapper.' + option.wrapper).slideUp();

                                    });

                                    var p = function () {

                                        if (!o.offset()) {

                                            return;

                                        }


                                        $(".smart-search-wrapper." + option.wrapper).css("width", o.outerWidth() + "px");

                                        $(".smart-search-wrapper." + option.wrapper).css("left", o.offset().left + "px");

                                        if (option.smartoffset) {


                                            h = $(".smart-search-wrapper." + option.wrapper).height();

                                            if (h + o.offset().top - $(window).scrollTop() + o.outerHeight() > $(window).height()) {

                                                $(".smart-search-wrapper." + option.wrapper).css('top', '');


                                                $(".smart-search-wrapper." + option.wrapper).css('bottom', ($(window).scrollTop() + $(window).height() - o.offset().top) + "px");

                                            } else {

                                                $(".smart-search-wrapper." + option.wrapper).css('bottom', '');

                                                $(".smart-search-wrapper." + option.wrapper).css('top', (o.offset().top - $(window).scrollTop() + o.outerHeight()) + "px");

                                            }

                                        } else {

                                            $(".smart-search-wrapper." + option.wrapper).css('top', (o.offset().top - $(window).scrollTop() + o.outerHeight()) + "px");

                                        }

                                    }

                                    return this;

                                };
                            }(jQuery));



                            jQuery('.ultimate-search input[name=q]').smartSearch({ searchdelay: 400, wrapper: 'search-wrapper', collection: '.collection_id' });


                        </script>
                        <script type="text/javascript">
                            $("#txtKeyword").keydown(function (event) {
                                $('#txtKeyword').keypress(function (e) {
                                    if (e.keyCode == 13) {
                                        event.preventDefault();
                                        search();
                                    }

                                });
                            });
                            function search() {
                                //   if (jQuery('#txtKeyword').val().length > 2)
                                window.location.href = '/search.html' + "?k=" + jQuery('#txtKeyword').val();
                                //  else alert('Từ khóa tìm kiếm phải trên 2 ký tự');
                            }
                        </script>
                        <style>


                            .smart-search-wrapper > a.thumbs {
                                width: 32px;
                                display: inline-block;
                                padding: 5px 0px;
                            }



                                .smart-search-wrapper > a.thumbs img {
                                    position: absolute;
                                    top: 0px;
                                    width: 32px;
                                    height: 35px;
                                    left: 0px;
                                }

                            .smart-search-wrapper {
                                position: fixed;
                                background: #fff;
                                border: 1px solid rgb(215, 215, 215);
                                border-top: none;
                                z-index: 999;
                            }

                                .smart-search-wrapper > a {
                                    width: calc(100% - 32px);
                                    float: left;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    white-space: pre;
                                    color: #686767;
                                    text-decoration: none;
                                    line-height: 29px;
                                    font-size: 13px;
                                    font-family: sans-serif;
                                    padding: 5px 160px 5px 5px;
                                    position: relative;
                                    height: 35px;
                                }

                                    .smart-search-wrapper > a.select, .smart-search-wrapper > a:hover {
                                        background: -webkit-linear-gradient(left, #fff,#EAEAEA); /* For Safari 5.1 to 6.0 */
                                        background: -o-linear-gradient(left, #fff,#EAEAEA); /* For Opera 11.1 to 12.0 */
                                        background: -moz-linear-gradient(left, #fff,#EAEAEA ); /* For Firefox 3.6 to 15 */
                                        background: linear-gradient(left, #fff,#EAEAEA ); /* Standard syntax (must be last) */
                                        color: #000;
                                    }

                                    .smart-search-wrapper > a > span.price-search {
                                        position: absolute;
                                        right: 5px;
                                        top: 0px;
                                    }
                        </style>
                    </div>
                </div>
            </div>
        </div>

        <div class="nav-mobile">
            <ul class="primary-navbar off">

                @{
                    MenusBusiness menubussiness = new MenusBusiness();
                    List<Menus> ListMenu = new List<Menus>();

                    ListMenu = menubussiness.SearchMenusByParentId(-1, 4, 3);

                    foreach (var re in ListMenu)
                    {
                        <li class="">
                            <a href="@Util.ReturnLinkFull(re.Link)"><img src="@re.BackGround" width="20" alt=""> @re.MenuName</a>
                        </li>
                    }
                }



                <li class="button-menu">
                    <i class="fa fa-angle-double-down"></i>
                </li>
            </ul>
            <div class="fix-menumobile on" style="display:none;">
                <ul class="primary-navbar">

                    @{
                        MenusBusiness menubussiness1 = new MenusBusiness();
                        List<Menus> ListMenu1 = new List<Menus>();

                        ListMenu1 = menubussiness.SearchMenusByParentId(-1, 4);
                        foreach (var re in ListMenu1)
                        {


                            <li class="">
                                <a href="@Util.ReturnLinkFull(re.Link)"><img src="@re.BackGround" width="20" alt=""> @re.MenuName</a>
                            </li>

                        }
                    }

                    <li class="button-menu off">
                        <i class="fa fa-angle-double-up"></i>
                    </li>
                </ul>
                <div class="ovlow-nav"></div>
            </div>
        </div>

    </div>
</header>