@using MvcPaging
@model List<Common.Product>
@using Common
@using BuyGroup365.Models.Home
@using Business.ClassBusiness;
@{


    Layout = Request.Browser.IsMobileDevice ? "~/Views/Shared/_MobileLayoutProduct.cshtml"
                     : "~/Views/Shared/_LayoutProduct.cshtml";
    ViewBag.Keywords = ViewBag.Keywords;
}
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.11';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>




<link rel="stylesheet" type="text/css" href="/Content/Csspublic/css/customer.css" media="all">
<div class="breadcrumbs">
    <div class="container">

        @*<ul>*@
        <div class="home" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="/" title="Go to Home Page" itemprop="url"><span itemprop="title">Trang chủ</span></a><span>›</span>
        </div>
        <div class="category9"> <a href="/khuyen-mai" title="Sản phẩm khuyến mãi" itemprop="url"><span itemprop="title">Sản phẩm khuyến mãi</span></a></div>
        @*</ul>*@

    </div>
</div>
<div id="catdes" class="title">
    <div class="main-container col2-left-layout ">

        <div class="container">
            <div class="main">
                <div class="row">


                    <div class="tomtat">


                        <div class="col-lg-12 col-md-12 col-sm-12">

                            @*@Html.Raw(ViewData["Description_"])*@
                            @Html.Action("GetByCodeHtml", "Partial", new { Code = "Khuyenmaihome" })
                        </div>
                    </div>
                    @*@Html.Raw(ViewData["ListOrder"])*@
                    <div class="col-lg-3 col-md-3 col-sm-3">

                        @Html.Action("GetByCodeHtml", "Partial", new { Code = "HinhthucLeftHome" })
                        @Html.Action("GetByCodeHtml", "Partial", new { Code = "VideoHome" })
                       

                    </div>
                    <div class="col-main col-lg-9 col-md-9 col-sm-9 col-xs-12 content-color color f-right">
                        <div class="category-products">
                            <div class="section">
                               
                                <div class="tab_section" id="_ListProduct" style="display: block;">

                                    @{
                                        int count = 0;
                                        string col = "";
                                        string img = "";

                                        foreach (var item in Model)
                                        {
                                            ManufacturersBusiness manubussiness = new ManufacturersBusiness();
                                            string imgManu = "";
                                            try
                                            {
                                                imgManu = manubussiness.GetById(item.ManufacturerId.Value).Icon.Split('?')[0] + "medium/" + manubussiness.GetById(item.ManufacturerId.Value).Icon.Split('?')[1];
                                            }
                                            catch { }
                                            var imgSource = "";
                                            foreach (var a in item.ProductImages)
                                            {
                                                if (a.IsAvatar == 1)
                                                {

                                                    imgSource = a.ImgSource.Split('?')[0] + "Medium/" + a.ImgSource.Split('?')[1];
                                                }
                                            }
                                            int phantramKM = 0;
                                            try
                                            {
                                                phantramKM = Convert.ToInt32((item.Cost - item.Price) / item.Cost * 100);
                                            }
                                            catch { }
                                            <div class="sp fL">
                                                <div class="pro12">
                                                    <div class="image_sp">
                                                        <a title="@item.ProductName" href="@BuyGroup365.Models.Common.Util.ReturnLink(item.FriendlyUrl)">
                                                            <img src="@imgSource" alt="@item.ProductName">
                                                        </a>
                                                    </div>
                                                    @if (phantramKM > 0)
                                                    {
                                                        <div class="percent"><span>@phantramKM</span></div>
                                                    }
                                                    @if (item.IsVip)
                                                    {
                                                        <span class="product-gift"><i class="fa fa-gift"></i> Quà tặng </span>
                                                    }
                                                    <div class="name-product">
                                                        <a title="@item.ProductName" href="@BuyGroup365.Models.Common.Util.ReturnLink(item.FriendlyUrl)">
                                                            <img src="@imgManu" alt="@item.Model" width="25" height="25" class="manulogo">
                                                            <span class="prop">@item.Model</span>
                                                            <label class="code">@item.Code</label>
                                                        </a>
                                                    </div>
                                                    <div class="clear">
                                                    </div>
                                                    <div class="price_tt">Giá niêm yết:<span>@(String.Format("{0:#,###}", item.Cost))</span></div>
                                                    <div class="price_sp">
                                                        <span class="red">
                                                            <strong>
                                                                @(String.Format("{0:#,###}", item.Price / 1000))
                                                            </strong>
                                                        </span><small class="nexttop2">Giá KM</small>        <small class="nextbottom2">.000</small>
                                                    </div>
                                                </div>
                                            </div>

                                        }}


                                </div>
                                <div class="clear">
                                </div>

                            </div>

                            <div class="toolbar-bottom">
                                <div class="toolbar">
                                   


                                        @if (ViewBag.TotalPage > 1)
                                        {
                                            var pageDisplay = (int)ViewBag.MaxPage;
                                            int totalPage = (int)ViewBag.TotalPage;
                                            int currentPage = ((int)ViewBag.Page);

                                            // Create numeric links
                                            var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
                                            var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

                                            var link = "/khuyen-mai" ;

                                            
                                                <ul class="pagination">
                                                    @if (currentPage > ViewBag.First)
                                                    {
                                                        <li><a href="@link?page=@ViewBag.First" title="Trang đầu" class="first"><i class="fa fa-angle-double-left"></i></a></li>
                                                        <li>
                                                            <a href="@link?page=@ViewBag.Prev" title="Trang trước" class="prev"><i class="fa fa-angle-left"></i></a>
                                                        </li>

                                                    }
                                                    @for (int i = startPageIndex; i <= endPageIndex; i++)
                                                    {
                                                        if (currentPage == i)
                                                        {

                                                            <li> <a href="@link?page=@i" class="active" title="Trang @i">@i</a></li>
                                                        }
                                                        else
                                                        {
                                                            <li><a href="@link?page=@i" title="Trang @i" class="pos">@i</a></li>
                                                        }
                                                    }
                                                    @if (currentPage < totalPage)
                                                    {
                                                        <li><a href="@link?page=@ViewBag.Next" class="next" title="Trang sau"><i class="fa fa-angle-right"></i></a></li>
                                                        <li> <a href="@link?page=@ViewBag.Last" class="last" title="Trang cuối"><i class="fa fa-angle-double-right"></i></a></li>
                                                    }

                                                </ul>
                                          

                                        }
                                        else
                                        {
                                            @*<span>Không có bản ghi nào</span>*@
                                        }
                                  

                                </div>
                            </div>
                        </div>


                    </div>



                </div>
            </div>
        </div>
    </div>
</div>

