@using MvcPaging
@model List<Common.Product>
@using Common
@using BuyGroup365.Models.Home
@using Business.ClassBusiness;
@{

    Layout = Request.Browser.IsMobileDevice ? "~/Views/Shared/_MobileLayoutProduct.cshtml"
                     : "~/Views/Shared/_LayoutProduct.cshtml";
    ViewBag.Keywords = ViewBag.Keywords;
}
<div class="row category-page-row">

    <div class="col large-12">
        <div class="breadcrumbs" style="margin-top:10px;">
            <div class="container">
                <nav class="woocommerce-breadcrumb breadcrumbs" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a href="/" title="" itemprop="url">Trang chủ</a><span class="divider">
                        <i class="fa fa-angle-double-right"></i>
                    </span><a href="/san-pham-moi.html" title="Sản phẩm mới" itemprop="url"><span itemprop="title">Sản phẩm mới</span></a>
                </nav>
            </div>
        </div>
        <div class="shop-container">

            <div class="woocommerce-notices-wrapper"></div>
            <div class="products row row-small large-columns-5 medium-columns-3 small-columns-2 has-shadow row-box-shadow-1 row-box-shadow-2-hover" itemprop="hasOfferCatalog" itemscope="" itemtype="http://schema.org/OfferCatalog">
                @{
                    int count = 0;
                    string col = "";
                    string img = "";

                    foreach (var item in Model)
                    {
                        ManufacturersBusiness manubussiness = new ManufacturersBusiness();
                        string imgManu = "";
                        try
                        {
                            // imgManu = manubussiness.GetById(item.ManufacturerId.Value).Icon.Split('?')[0] + "medium/" + manubussiness.GetById(item.ManufacturerId.Value).Icon.Split('?')[1];
                        }
                        catch { }
                        var imgSource = "";
                        foreach (var a in item.ProductImages)
                        {
                            if (a.IsAvatar == 1)
                            {

                                imgSource = a.ImgSource;
                            }
                        }
                        int phantramKM = 0;
                        try
                        {
                            phantramKM = Convert.ToInt32((item.Cost - item.Price) / item.Cost * 100);
                        }
                        catch { }

                        <div class="product-small col has-hover post-1544 product type-product status-publish has-post-thumbnail product_cat-do-gia-dung product_cat-may-danh-giay product_cat-may-danh-giay-gia-dinh product_cat-may-danh-giay-quang-minh product_cat-may-danh-giay-van-phong first instock sale shipping-taxable purchasable product-type-simple" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/OfferCatalog">
                            <div class="col-inner">
                                <div class="badge-container absolute left top z-1">
                                    <div class="callout badge badge-square">
                                        @if (phantramKM > 0)
                                        {

                                            <div class="badge-inner secondary on-sale">
                                                <span class="onsale">-@phantramKM%</span>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="product-small box ">
                                    <div class="box-image">
                                        <div class="image-zoom">
                                            <a href="@BuyGroup365.Models.Common.Util.ReturnLinkFull(item.FriendlyUrl)"> <img width="300" height="300" itemprop="image" src="@(imgSource)" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""> </a>
                                        </div>
                                        <div class="image-tools is-small top right show-on-hover"></div>
                                        <div class="image-tools is-small hide-for-small bottom left show-on-hover"></div>
                                        <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover"></div>
                                    </div>
                                    <div class="box-text box-text-products">
                                        <div class="title-wrapper"><p class="name product-title" itemprop="name"><a href="@BuyGroup365.Models.Common.Util.ReturnLinkFull(item.FriendlyUrl)">@item.ProductName</a></p></div>
                                        <div class="price-wrapper">
                                            <span class="price">
                                                @if (item.Price != 0)
                                                {
                                                    <del><span class="woocommerce-Price-amount amount">@(String.Format("{0:#,###}", item.Cost))<span class="woocommerce-Price-currencySymbol">₫</span></span></del>

                                                    <ins><span class="woocommerce-Price-amount amount"> @(String.Format("{0:#,###}", item.Price))<span class="woocommerce-Price-currencySymbol">₫</span></span></ins>
                                                }
                                                else
                                                {
                                                    <ins><span class="woocommerce-Price-amount amount">Liên hệ</span></ins>
                                                }
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                }
            </div>
            <div class="toolbar-bottom">
                <div class="toolbar">

                    @if (ViewBag.TotalPage > 1)
                    {
                        var pageDisplay = (int)ViewBag.MaxPage;
                        int totalPage = (int)ViewBag.TotalPage;
                        int currentPage = ((int)ViewBag.Page);

                        // Create numeric links
                        var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
                        var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

                        var link = "/san-pham-moi.html";

                        <ul class="page-numbers nav-pagination links text-center">
                            @if (currentPage > ViewBag.First)
                            {
                                <li><a href="@link?page=@ViewBag.First" title="Trang đầu" class="first"><i class="fa fa-angle-double-left"></i></a></li>
                                <li>
                                    <a href="@link?page=@ViewBag.Prev" title="Trang trước" class="prev"><i class="fa fa-angle-left"></i></a>
                                </li>

                            }
                            @for (int i = startPageIndex; i <= endPageIndex; i++)
                            {
                                if (currentPage == i)
                                {

                                    <li> <a href="@link?page=@i" class="page-number current" title="Trang @i">@i</a></li>
                                }
                                else
                                {
                                    <li><a href="@link?page=@i" title="Trang @i" class="page-number">@i</a></li>
                                }
                            }
                            @if (currentPage < totalPage)
                            {
                                <li><a href="@link?page=@ViewBag.Next" class="next" title="Trang sau"><i class="fa fa-angle-right"></i></a></li>
                                <li> <a href="@link?page=@ViewBag.Last" class="last" title="Trang cuối"><i class="fa fa-angle-double-right"></i></a></li>
                            }
                        </ul>

                    }
                    else
                    {
                        @*<span>Không có bản ghi nào</span>*@
                    }
                </div>
            </div>
        </div>
    </div>
</div>